* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background-color: var(--page-bg);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

img {
	display: inline-block;
}

:root {
	/* Colors */
	--emerald-400: #5FC1B5;
	--orange-500: #FF8413;
	--purple-500: #8C7BF8;
	--blue-500: #25B0FF;
	--green-500: #72D842;
	--red-500: #FF535D;
	--white: #FFFFFF;

	/* Page */
	--page-bg: #13191B;

	/* Header */
	--header-height: 16vw;

	/* Table */
	--table-height: 500px;
	--min-table-width: 1200px;
	--table-filter-bg: #32363954;
	--table-filter-border: #FFFFFF70;
	--table-primary-text: #ACACAC;
	--table-secondary-text: #ACACAC;
	--table-header-bg: #323639;
	--table-header-border: #67676770;
	--table-bg: #202427;
	--token-row-bg: #272B2D;
	--dropdown-even-column-bg: #282B2D;
	--token-even-column-bg: #2C2F31;
	--description-btn-text: #676767;
}

/* COLORS */

.orange {
	color: var(--orange-500);
}

.white {
	color: var(--white);
}

.green {
	color: var(--emerald-400);
}

.purple {
	color: var(--purple-500);
}

.blue {
	color: var(--blue-500);
}

.positive {
	color: var(--green-500);
}

.negative {
	color: var(--red-500);
}

/* UTILITY CLASSES */

.m-0 {
	margin: 0 !important;
}

.fs-14 {
	font-size: 14px;
}