<template>
  <div class="page-container">
		<Header/>
		<MobileView/>
		<DataTable :tokens="tokens"/>
		<div class="blur"></div>
  </div>
</template>

<script>
import { apiUrls } from '../config/constants';
import { data } from '../data';

import Header from '../components/Header.vue';
import MobileView from '../components/MobileView.vue';
import DataTable from '../components/DataTable.vue';

export default {
	name: 'Home',
	components: {
		MobileView,
    DataTable,
		Header
	},
	data() {
		return {
			tokens: []
		}
	},
	mounted() {
		this.$http.get(apiUrls.tokens)
			.then((response) => {
        	this.tokens = response.data;
      })
			.catch((error) => {
				if (error.response) {
					// Request made and server responded
					console.log(error.response.data);
					console.log(error.response.status);
					console.log(error.response.headers);
				} else if (error.request) {
					// The request was made but no response was received
					console.log(error.request);
				} else {
					// Something happened in setting up the request that triggered an Error
					console.log('Error', error.message);
				}
			});
			this.tokens = data;
	}
};
</script>

<style scoped>
.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: var(--page-bg);
}

div {
	color: white;
}

.blur {
	--width: 85%;
	position: absolute;
	margin: 0 auto;
	width: var(--width);
	height: 80%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: radial-gradient(ellipse at center, rgba(95,193,181,0.6) 0%, transparent 70%);
	z-index: 0;
	transform: translateX(calc((100% - var(--width)) / 2));
}

@media screen and (max-width: 600px) {
	.blur {
		height: 12%;
		width: 100%;
		opacity: 0.5;
		transform: translateX(0);
	}
}
</style>