<template>
	<transition name="fade">
		<article class="table-container">
			<div class="table-actions">
				<div class="table-filter">
					<input class="filter-input" type="text" placeholder="Введите название проекта..." v-model="filterPrefix">
					<span class="filter-label">поиск</span>
				</div>
				<div class="table-sort">
					<img :src="publicPath + 'svg/table/sort.svg'" alt=""> 
					<span class="sort-label">сортировать по:</span>
				</div>
			</div>
			<div class="table-wrap">
				<table>
					<thead>
						<tr>
							<th v-for="(headerItem, index) in tableHeaders" :key="index">
								<button 
									:disabled="!headerItem.sortable" 
									class="sort-button" 
									:class="{ active: headerItem.parameter === sortParameter }" 
									@click="sortBy(headerItem.parameter)"
								>
									<img v-if="headerItem.img" class="th-icon" :src="publicPath + headerItem.img" alt="" height="15" width="15">
									{{ headerItem.title }}
									<svg 
										v-show="headerItem.sortable" 
										class="arrow" 
										:class="{ active: sortOrders[headerItem.parameter] === -1 ? true : false }" 
										width="11" 
										height="7" 
										viewBox="0 0 11 7" 
										fill="currentColor" 
									>
										<path d="M1.00721 0.0284362L6.04275 5.06398L5.03564 6.07109L9.93154e-05 1.03555L1.00721 0.0284362Z"/>
										<path d="M10.0712 1.03555L5.03564 6.07109L4.02854 5.06398L9.06408 0.0284362L10.0712 1.03555Z"/>
									</svg>
								</button>
							</th>
						</tr>
					</thead>
					<tbody v-for="(token, index) in filteredTokens" :key="index">
							<tr class="token-row" :class="{ active: token.showDropdown }">
								<td>
									<span class="orange">{{ token.points }}</span>
								</td>
								<td style="min-width: max-content;">
									<a class="link green" :href="token.link" target="_blank">
										{{ token.project }}
										<img :src="publicPath + 'svg/table/link.svg'" alt="">
									</a>
								</td>
								<td>
									<p>
										<img class="clock-icon" :src="publicPath + 'svg/table/timer.svg'" alt="">&nbsp;
										<span>{{ getMintTimer(token.mint) }}</span>
									</p>
									<p class="additional-info">{{ token.mint }}</p>
								</td>
								<td>{{ token.amount }}</td>
								<td>
									<p>{{ token.price.crypto }}</p>
									<p class="additional-info">
										{{ 
											new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' })
											.format(token.price.usd).replace(/(\.|,)00$/g, '')
										}}
									</p>
								</td>
								<td>
									<a class="link purple fs-14" :href="token.discord.link" target="_blank">
										@{{ token.discord.nickname }}
									</a>
								</td>
								<td>
									<a class="link gradient" :href="token.instagram.link" target="_blank">
										@{{ token.instagram.nickname }}
									</a>
								</td>
								<td>
									<a class="link blue" :href="token.twitter.link" target="_blank">
										@{{ token.twitter.nickname }}
									</a>
								</td>
								<td>
									<button
										class="description-btn"
										:class="{ active: token.showDropdown }"
										@click="() => { token.showDropdown = !token.showDropdown }
									">
										<span>{{ token.showDropdown ? 'свернуть' : 'развернуть' }}</span>
										<svg 
											class="arrow" 
											:class="{ active: token.showDropdown }" 
											width="11" 
											height="7" 
											viewBox="0 0 11 7" 
											fill="currentColor" 
										>
											<path d="M1.00721 0.0284362L6.04275 5.06398L5.03564 6.07109L9.93154e-05 1.03555L1.00721 0.0284362Z"/>
											<path d="M10.0712 1.03555L5.03564 6.07109L4.02854 5.06398L9.06408 0.0284362L10.0712 1.03555Z"/>
										</svg>
									</button>
								</td>
							</tr>
							<transition name="slide-fade">
								<tr
									class="dropdown-row"
									:class="{ active: token.showDropdown }"
									v-show="token.showDropdown"
								>
									<td></td>
									<td>
										<section class="dropdown-section">
											<p class="section-title">cредняя посещаемость сайта</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span class="white fs-14">{{ token.attendance.average }} подписчиков</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">изменения посещаемости сайта</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 1д
												<span :class="token.attendance.day >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.attendance.day }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 3д
												<span :class="token.attendance.threeDays >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.attendance.threeDays }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 7д
												<span :class="token.attendance.week >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.attendance.week }}%
												</span>
											</p>
										</section>
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td class="discord">
										<section class="dropdown-section">
											<p class="section-title">подписчики</p>
											<p class="section-row">
												<span class="white m-0 fs-14">{{ token.discord.subscribers }}</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">рост подписчиков в %</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 2ч&nbsp;
												<span :class="token.discord.growth.twoHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.discord.growth.twoHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 12ч
												<span :class="token.discord.growth.twelveHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.discord.growth.twelveHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span :class="token.discord.growth.day >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.discord.growth.day }}%
												</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">кол-во сообщений</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 10м
												<span class="purple fs-14">~{{ token.discord.messages }}</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">~ кол-во ботов</p>
											<p class="section-row">
												<span class="purple m-0 fs-14">~{{ token.discord.bots }}</span>
											</p>
										</section>
									</td>
									<td>
										<section class="dropdown-section">
											<p class="section-title">подписчики</p>
											<p class="section-row">
												<span class="white m-0 fs-14">{{ token.instagram.subscribers }}</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">рост подписчиков в %</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 2ч&nbsp;
												<span :class="token.instagram.growth.twoHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.instagram.growth.twoHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 12ч
												<span :class="token.instagram.growth.twelveHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.instagram.growth.twelveHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span :class="token.instagram.growth.day >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.instagram.growth.day }}%
												</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">кол-во репостов сторис</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span class="gradient">~{{ token.instagram.reposts }}</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">
												кол-во репостов сторис от верифицированных пользователей
												<img :src="publicPath + 'svg/social-media/verified-star.svg'" alt="">
											</p>
											<p class="section-row">
												<img :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span class="gradient">~{{ token.instagram.repostsFromVerified }}</span>
											</p>
										</section>
									</td>
									<td class="twitter">
										<section class="dropdown-section">
											<p class="section-title">подписчики</p>
											<p class="section-row">
												<span class="white m-0 fs-14">{{ token.instagram.subscribers }}</span>
											</p>
										</section>
										<section class="dropdown-section">
											<p class="section-title">рост подписчиков в %</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 2ч&nbsp;
												<span :class="token.twitter.growth.twoHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.twitter.growth.twoHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 12ч
												<span :class="token.twitter.growth.twelveHours >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.twitter.growth.twelveHours }}%
												</span>
											</p>
											<p class="section-row">
												<img class="clock-icon" :src="publicPath + 'svg/table/clock.svg'" alt=""> 24ч
												<span :class="token.twitter.growth.day >= 0 ? 'positive' : 'negative'" class="fs-14">
													{{ token.twitter.growth.day }}%
												</span>
											</p>
										</section>
									</td>
									<td class="description-column" style="max-width: 200px">
										<p>{{ token.description }}</p>
									</td>
								</tr>
							</transition>
							<tr>
								<td class="table-rows-spacing"></td>
							</tr>
					</tbody>
				</table>
				<div class="empty-table-row" v-show="filteredTokens.length === 0">
					<span class="empty-table-text">Данные не найдены</span>
				</div>
			</div>

			<DatePicker v-bind:selectedDate.sync="filterDate"/>
		</article>
	</transition>
</template>

<script>
import { paths } from '../config/constants';
import dayjs from 'dayjs';
var utc = require('dayjs/plugin/utc');
dayjs.extend(utc);

import DatePicker from './DatePicker.vue';

export default {
	name: 'DataTable',
	props: {
		tokens: {
			type: Array,
			required: true
		}
	},
	components: {
		DatePicker
	},
	data() {
		return {
			publicPath: paths.public,
			tableHeaders: [
				{ title: '🔥 баллы', sortable: true, parameter: 'points', img: null },
				{ title: 'проект', sortable: true, parameter: 'project', img: null },
				{ title: 'минт', sortable: true, parameter: 'mint', img: null },
				{ title: 'кол-во nft', sortable: true, parameter: 'amount', img: null },
				{ title: 'цена', sortable: true, parameter: 'price', img: null },
				{ title: 'discord', sortable: false, parameter: '', img: "svg/social-media/discord.svg" },
				{ title: 'instagram', sortable: false, parameter: '', img: "svg/social-media/instagram.svg" },
				{ title: 'twitter', sortable: false, parameter: '', img: "svg/social-media/twitter.svg" },
				{ title: 'описание проекта', sortable: false, parameter: '', img: null },
			],
			sortOrders: {},
			sortParameter: undefined,
			filterDate: dayjs().format('YYYY/MM/DD'),
			filterPrefix: ''
		}
	},
	computed: {
		filteredTokens() {
			let filteredByDate = this.tokens.filter(token => {
				return dayjs(token.mint).format('YYYY/MM/DD') === this.filterDate;
			})

			return this.filterPrefix ? filteredByDate.filter(token => {
				return token.project.toString().toLowerCase().includes(this.filterPrefix.toLowerCase())
			}) : filteredByDate;
		}
	},
	methods: {
		sortBy(parameter) {
			this.tokens = this.tokens.sort((actual, next) => this.compareItems(actual, next, parameter));

			this.sortParameter = parameter;
			this.sortOrders[parameter] = this.sortOrders[parameter] * -1;
		},
		compareItems(actual, next, parameter) {
			if(parameter === 'price') {
				actual = actual.price.usd
				next = next.price.usd
			} else {
				actual = actual[parameter];
				next = next[parameter];
			}

			if (actual > next) {
				return 1 * this.sortOrders[parameter];
			}
			if (actual < next) {
				return -1 * this.sortOrders[parameter];
			}
			return 0;
		},
		getMintTimer(date) {
			let temp = dayjs(dayjs(date)).diff(dayjs());
			return this.parseMillisecondsToTime(temp);
		},
		parseMillisecondsToTime(milliseconds){
			if(Math.sign(milliseconds) === -1) {
				return 'Закончился';
			}

			//Get hours from milliseconds
			var hours = milliseconds / (1000 * 60 * 60);
			var absoluteHours = Math.floor(hours);
			var h = absoluteHours > 9 ? absoluteHours : '0' + absoluteHours;

			//Get remainder from hours and convert to minutes
			var minutes = (hours - absoluteHours) * 60;
			var absoluteMinutes = Math.floor(minutes);
			var m = absoluteMinutes > 9 ? absoluteMinutes : '0' +  absoluteMinutes;

			//Get remainder from minutes and convert to seconds
			var seconds = (minutes - absoluteMinutes) * 60;
			var absoluteSeconds = Math.floor(seconds);
			var s = absoluteSeconds > 9 ? absoluteSeconds : '0' + absoluteSeconds;

			return h + ':' + m + ':' + s;
		}
	},
	mounted() {
		this.tableHeaders
			.filter(headerItem => {
				return headerItem.sortable
			})
			.forEach(headerItem => {
				this.sortOrders[headerItem.parameter] = 1;
			});
	}
}
</script>

<style scoped>
.table-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-actions,
.table-wrap {
	width: 85%;
}

.table-actions {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-end;
}

.table-filter {
	position: relative;
	display: flex;
	width: 35%;
	border-radius: 6px;
	border: 1px solid var(--table-filter-border);
}

.filter-input {
	color: var(--table-primary-color);
	width: 70%;
	padding: 1rem;
	border: none;
	border-radius: 6px;
	background-color: var(--table-filter-bg);
}

.filter-input:focus {
	outline: none;
}

.filter-label {
	height: 100%;
	line-height: 3rem;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 4vw;
	margin: auto;
	text-align: center;
	background-color: var(--emerald-400);
	border-radius: 5px;
	font-size: 14px;
	cursor: default;
}

.table-sort {
	margin: auto 5vw auto 2vw;
	z-index: 5;
}

.sort-label {
	color: var(--table-primary-text);
	font-size: 14px;
	cursor: default;
}

.table-wrap {
	margin: 0 auto;
	height: var(--table-height);
	display: flex;
	flex-direction: column;
	background-color: var(--table-bg);
	overflow: auto;	
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;  
  scrollbar-width: none;
	z-index: 10;
	border-radius: 7px;
}

.table-wrap::-webkit-scrollbar {
  display: none;
}

table {
	min-width: var(--min-table-width);
	border-collapse: separate; 
	border-spacing: 0;
	width: 100%;
	background: var(--table-bg);
}

thead th { 
	z-index: 1;  
	color: var(--table-primary-text);
	vertical-align: sub;
	position: sticky; 
	top: 0; 
	border-radius: 10px;
}

th::after {
	content: '';
	display: block;
	position: absolute;
	background-color: var(--table-header-bg);
	top: -1px;
	left:0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

th:first-of-type::after {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: none;
}

th:last-of-type::after {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.th-icon {
	vertical-align: sub;
}

.sort-button {
	background: transparent;
	border: none;
	color: var(--table-primary-text);
	cursor: pointer;
	font-size: 14px;
}

.sort-button.active {
	color: var(--emerald-400);
}

.sort-button:disabled {
	cursor: default;
}

td, th {
	width: 11%;
}

th:last-of-type {
	min-width: 150px;
}

.token-row > td {
	background-color: var(--token-row-bg);
	transition: background-color 200ms ease-in-out;
}

.token-row:first-of-type {
	margin-top: -1rem;
}

.token-row.active > td:nth-of-type(even) {
	background-color: var(--token-even-column-bg);
}

th,
td:nth-of-type(2),
td:nth-of-type(3) { 
	white-space: nowrap; 
}

th, td {
	padding: 1rem 0.5rem;
	min-width: 100px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	vertical-align: baseline;
	cursor: default;
}

tr > th::after {
	box-shadow: 1px 0 0 var(--table-header-border) inset;
}

.gradient {
	background: linear-gradient(95.28deg, #E168FF -6.1%, #FF8413 137.57%);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
	text-decoration-color: linear-gradient(95.28deg, #E168FF -6.1%, #FF8413 137.57%);
	font-size: 14px;
}

.link {
	position: relative;
	text-decoration: none;
}

.link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	display: inline-block;
	height: 1px;
	width: 100%;
}

.green::after {
 background-color: var(--emerald-400);
}

.purple::after {
	background-color: var(--purple-500);
}

.blue::after {
	background-color: var(--blue-500);
}

.gradient::after {
	background-image: linear-gradient(95.28deg, #E168FF -6.1%, #FF8413 137.57%);
}

.additional-info {
	margin-top: 0.25rem;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: var(--table-primary-text);
}

.description-btn {
	border: none;
	background: transparent;
	color: var(--emerald-400);
	transition: color 200ms ease-in-out;
	cursor: pointer;
}

.description-btn.active {
	color: var(--description-btn-text);
}

.arrow {
	transition: all 200ms ease-in-out;
}

.arrow.active {
	transform: rotate(-180deg);
}

.dropdown-row > td {
	transition: background-color 200ms ease-in-out;
}

.dropdown-row > td:nth-of-type(odd)  {
	border-bottom: 2px solid var(--dropdown-even-column-bg);
}

.dropdown-row.active > td:nth-of-type(even) {
	background-color: var(--dropdown-even-column-bg);
}

.description-column {
	min-width: 150px;
}

.dropdown-section {
	text-align: start;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;
	color: var(--table-primary-text);
}

.dropdown-section span {
	margin-left: 0.625rem;
}

td > .dropdown-section:not(:first-child) {
	margin-top: 1.25rem;
}

.dropdown-section > .section-row:not(:first-of-type) {
	margin-top: 0.5rem;
}

.table-rows-spacing {
	padding: 0;
	height: 1rem;
}

.empty-table-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 0%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: var(--table-bg);
}

.empty-table-text {
	color: var(--table-primary-text);
}

.slide-fade-enter-active {
  transition: all 250ms;
}

.slide-fade-leave-active {
	transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-fade-enter, .slide-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	transform: translateY(-15px);
  opacity: 0;
}

.clock-icon {
	vertical-align: bottom;
}

@media screen and (max-width: 786px) {
	.table-actions {
		flex-direction: column;
		align-items: flex-end;
	}	

	.table-filter {
		width: 55%;
	}

	.filter-input {
		width: 73%;
	}

	.table-sort {
		margin-top: 0.5rem;
	}
}

@media screen and (max-width: 600px) {
	.table-container {
		display: none;
	}
}
</style>