<template>
	<div class="date-picker" v-on:keyup.left="switchTo('previous')" v-on:keyup.right="switchTo('next')">
		<span class="previous-date">{{ previousDate.locale('ru').format('DD MMMM') }}</span>
		<div class="date-switcher">
			<button @click="switchTo('previous')" class="switch-btn">
				<img class="arrow-left" :src="publicPath + 'svg/date-picker/arrow.svg'" alt="" height="15" width="15">
			</button>
			<span class="selected-date">{{ dayjs(selectedDate).locale('ru').format('DD MMMM') }}</span>
			<button @click="switchTo('next')" class="switch-btn">
				<img class="arrow-right" :src="publicPath + 'svg/date-picker/arrow.svg'" alt="" height="15" width="15">
			</button>
		</div>
		<span class="next-date">{{ nextDate.locale('ru').format('DD MMMM') }}</span>
	</div>
</template>

<script>
import { paths } from '../config/constants';
import dayjs from 'dayjs';
require('dayjs/locale/ru');

export default {
	name: 'DatePicker',
	props: {
		selectedDate: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			publicPath: paths.public,
			dayjs: dayjs,
		}
	},
	computed: {
		previousDate() {
			return dayjs(this.selectedDate).subtract(1, 'd');
		},
		nextDate() {
			return dayjs(this.selectedDate).add(1, 'd');
		}
	},
	methods: {
		switchTo(direction) {
			if(direction.toLowerCase() === 'next') {
				this.$emit('update:selectedDate', dayjs(this.selectedDate).add(1, 'd').format('YYYY/MM/DD'));
			}

			if(direction.toLowerCase() === 'previous') {
				this.$emit('update:selectedDate', dayjs(this.selectedDate).subtract(1, 'd').format('YYYY/MM/DD'));
			}
		}
	}
}
</script>

<style scoped>
.date-picker {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.previous-date,
.next-date {
	color: var(--table-primary-text);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
}

.previous-date {
	margin-right: 1.75rem;
}

.next-date {
	margin-left: 1.75rem;
}

.date-switcher {
	min-width: 20vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selected-date {
	margin: 0 0.75rem;
	min-width: max-content;
	font-size: 1.5rem;
	line-height: 1.1rem;
	letter-spacing: 0em;
}

.switch-btn {
	position: relative;
	min-height: 40px;
	min-width: 40px;
	border-radius: 500px;
	border: none;
	background-color: var(--emerald-400);
	transition: all 150ms ease-in-out;
}

.switch-btn:focus,
.switch-btn:hover {
	outline: none;
	transform: scale(1.05);
}

.arrow-left,
.arrow-right {
	position: absolute;
	display: block;
}

.arrow-left {
	top: calc(50% - 7px);
	left: calc(50% - 9px);
}

.arrow-right {
	transform: rotate(180deg);
	top: calc(50% - 7px);
	left: calc(50% - 6px);
}

@media screen and (max-width: 1024px) {
	.date-picker {
		min-width: 30%;
		flex-direction: column;
	}

	.previous-date,
	.next-date {
		margin: 0;
	}
}
</style>