<template>
	<header class="header">
		<img class="logo" :src="publicPath + 'svg/header/logo.svg'" alt="">
		<img class="arrow-chart" :src="publicPath + 'svg/header/arrow-chart.svg'" alt="">
		<img class="first-zombie" :src="publicPath + 'svg/header/zombie-1.svg'" alt="">
		<img class="phrase" :src="publicPath + 'svg/header/phrase.svg'" alt="">
		<img class="second-zombie" :src="publicPath + 'svg/header/zombie-2.svg'" alt="">
		<img class="twitter" :src="publicPath + 'svg/social-media/twitter.svg'" alt="">
		<img class="discord" :src="publicPath + 'svg/social-media/discord.svg'" alt="">
		<img class="laptop" :src="publicPath + 'svg/header/laptop.svg'" alt="">
		<img class="nyancat" :src="publicPath + 'svg/header/nyancat.svg'" alt="">
	</header>
</template>

<script>
import { paths } from '../config/constants';

export default {
	data() {
		return {
			publicPath: paths.public
		}
	}
} 
</script>

<style scoped>
.header {
	position: relative;
	min-height: var(--header-height);
	width: 85%;
	background-color: var(--page-bg);
}

img {
	position: absolute;
}

.logo {
	width: 70%;
	left: 50%;
	top: 22%;
	transform: translate(-50%, 0);
	z-index: 10;
}

.arrow-chart {
	width: 20%;
	right: 8.5%;
	top: 13%;
}

.laptop {
	width: 5%;
	right: 41%;
	top: 22%;
	z-index: 11;
}

.nyancat {
	width: 9%;
	left: 27%;
	top: 88%;
	z-index: 10;
}

.phrase {
	width: min(13%, 200px);
	top: 67%;
	left: 8%;
	z-index: 10;
}

.twitter {
	width: 3%;
	left: 46.5%;
	top: 75%;
	transform: rotate(-20deg);
	z-index: 11;
}

.discord {
	width: 3%;
	left: 4%;
	top: 13%;
	transform: rotate(10deg);
}

.first-zombie {
	width: min(16%, 300px);
	top: 58%;
	left: -6%;
}

.second-zombie {
	width: 9%;
	right: 9%;
	top: 48.5%;
	z-index: 11;
}
</style>