<template>
	<transition name="fade">
		<article>
			<img src="/public/svg/mobile/rotate.svg" alt="">
			<img src="/public/svg/mobile/warning.svg" alt="">
		</article>
	</transition>
</template>

<style scoped>
article {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img:last-of-type {
	margin-top: 3rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 150ms;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media screen and (min-width: 600px) {
	article {
		display: none;
	}
}
</style>